body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: "Gill Sans", sans-serif;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

main{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

header, footer{
    height: 40px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.card{
    background-color: #fff;
    padding: 16px;
    width: 250px;
    height: 320px;
    border-radius: 10px;

}

.card-item{
    margin-top: 16px;
}

.card-item-input{
    border: 1px solid #ccc;
}

.card-item-button{
    border: 3px;
}

.card-item-button-send{
    background-color: #C4D9FF;
}

.card-item-button-send:hover{
    background-color: #AECBFC;
}

.card-item-button-send:active{
    background-color: #95BDFC;
}

.card-item-button-reset{
    background-color:  #FFC4C4;
}

.card-item-button-reset:hover{
    background-color: #FCB6B6;
}

.card-item-button-reset:active{
    background-color:  #FFA6A6;
}

.hidden{
    display: none;
}
